.container-fuild {
    width: auto;
    padding: 0 15px;
}
body {
    background-color: #F5FBFF;
    color: #08090A;
    min-height: 100vh;
}
#top {
    height: 100px;
}
#logo-top {
    height: 6rem;
    padding:20px;
}
#main {
    /* height: 35rem; */
    text-align: center;
    margin-bottom: 25px;
}
h1 {
font-family: pilar-pro, sans-serif;
font-weight: 400;
font-style: normal;
font-size: 50px;
color:#8789C0;
}
.game-cartoon{
    width: 400px;
}
.button {
font-family: pilar-pro, sans-serif;
font-weight: 400;
font-style: normal;
font-size: 50px;
background-color: #8789C0;
padding: 1px 30px;
border-radius: 50px;
border: 0;
color: white;
margin-top: 20px;
cursor: pointer;
}
button:hover {
    background-color: #A3A8E5;
}
.footer {
    background-color: #08090A;
    padding: 30px;
    /*position: absolute;     
    bottom: 0;     
    width: 100%;*/
}

#footer-logo{
width: 10rem;
}
li{
    color: #5DFDCB;
}
i{
    color: #5DFDCB;
}
#trivia, #test-results, #high-score-history, #play-again {
    display: none;
}
#a,#b,#c,#d, #high-score-area li {
    list-style-type: none;
    color: black;
}
.answer{
    display: list-item;
    border: 2px solid black;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#question, label {
    font-family: 'Lato', sans-serif;
    color: #08090A;
}
.correct{
background-color: #5DFDCB;
color: black;
}
.wrong {
background-color: #F7638D;
color: black
}
.timer {
    font-family: 'Lato', sans-serif;
    color: #A3A8E5;
    display: none;
}
.form-inline{
    justify-content: center;
}
#choice {
    padding-left: 0;
}
@media only screen and (max-width: 576px){
    .game-cartoon{
        width: 200px;
    }
}